
.contact-form td {
    padding: 5px;
}

.contact-form label  {
    font-weight: bold;
}

.contact-form textarea, .contact-form input {
    width: 100%;
    display: block;
}

.contact-form textarea {
    height: 200px;
}

/*.contact-form input, .contact-form textarea {*/
    /*color: black;*/
    /*border: 1px solid black;*/
    /*border-radius: 20px;*/
    /*font-size: 1em;*/
    /*padding-left: 20px;*/
/*}*/

/*.contact-form input:active, .contact-form input:hover, .contact-form textarea:active, .contact-form textarea:hover {*/
    /*transition: background-color .2s ease-in, transform .3s, border .2s ease-in, transform .3s;*/
    /*transform: scale(1.1);*/
    /*background: #FFFFFF;*/
    /*border: 4px solid #007bff;*/
    /*color: black;*/
    /*box-shadow: 3px 3px 7px grey;*/
/*}*/

#contact-send {
    position: relative;
    left: 50px;
}


.warning {
    color: red;
}

.feedback {
    color: green;
}

#tweets {
    max-height: 500px;
    overflow: scroll;
}

#footer-text {
    background: #007bff;
    color: white;
    padding: 1px;
    padding-top: 10px;
}


/* For scroll bar */
body::-webkit-scrollbar {
    width: .6em;
    border-radius: 1000px;
}


body::-webkit-scrollbar-track {
    border: 2px solid #007bff;
    border-radius: 1000px;
}

body::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 1000px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #007bff;
    border-radius: 1000px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: white;
    border-radius: 1000px;
}

body::-webkit-scrollbar-track-piece:start {
    /* Select the top half (or left half) or scrollbar track individually */
}

body::-webkit-scrollbar-track-piece:end {
    /* Select the top half (or left half) or scrollbar track individually */
}
